# Learning

This notebook contains some simple examples of using jupyter notbook and python 3

## Example 1: Hello World

In [9]:
my_name = "Cheng"
hello_statement = "Hello, " + my_name
print hello_statement, "\n\n"

Hello, Cheng

Example 2: World's *best* loop is here

In [14]:
x = 10
for j in range(1,10):
    x = x + j
    print "j={} x={}".format(j, x)

j=1 x=11
j=2 x=13
j=3 x=16
j=4 x=20
j=5 x=25
j=6 x=31
j=7 x=38
j=8 x=46
j=9 x=55